@{
    ViewData["Title"] = "";
}
@section styles{
    <link href="~/css/seller.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/js/seller.js"></script>
}
<div id="wrap">
    <div class="header">
        <div class="container">
            <div class="pull-left">
                <div class="msg">
                    <h1 class="sub">Venda para quem</h1>
                    <h1 class="sub">está do seu lado</h1>
                </div>
                <div class="email">
                    <p>Deixe seu e-mail para não ficar por fora do lançamento</p>
                    <div class="email-valid">
                        <input id="email" type="text" placeholder="E-mail" value="" />
                        <span class="validate">E-mail inválido.</span>
                    </div>
                    <button id="btn-submit" onclick="submit()">Me avise quando lançar</button>
                </div>
            </div>
            <div class="pull-right">
                <img src="~/images/phone_1.png" />
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container">
            <h1 class="title">Alcance as pessoas do seu lado!</h1>
            <p class="sub">Olha só o que você pode fazer com nosso aplicativo :)</p>
            <hr />
            <div class="pull-left col-md-4">
                <img src="~/images/phone_2.png" />
            </div>
            <div class="pull-right col-md-8">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <img src="~/images/seller/ic_marketplace.png" />
                        <div class="icon-text">Comunidade Local</div>
                        <div class="icon-sub">Aumente suas vendas alcançando as pessoas de seu bairro!</div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/seller/ic_personalized.png" />
                        <div class="icon-text">Personalizado</div>
                        <div class="icon-sub">Anuncie de forma personalizada sua loja e seus produtos</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <img src="~/images/seller/ic_no_credit.png" />
                        <div class="icon-text">Sem maquininha</div>
                        <div class="icon-sub">Aceite diversos cartões de crédito ou débito entre outras formas de pagamento</div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/seller/ic_back_office.png" />
                        <div class="icon-text">Back Office</div>
                        <div class="icon-sub">Receba métricas e dicas sobre como anda o seu negócio</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social">
        <div class="container">
            <p class="social-sub">Nos encontre também nas redes sociais</p>
            <div class="social-icon">
                <img src="~/images/ic_twitter.png" />
                <img src="~/images/ic_fb.png" />
                <img src="~/images/ic_gplus.png" />
            </div>
        </div>
    </div>
</div>